/* formsStyle.css */

/* remove margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

/* yakuza font */
@font-face {
    font-family: 'edoregular';
    src: url('font/edo-webfont.eot');
    src: url('font/edo-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/edo-webfont.woff2') format('woff2'),
         url('font/edo-webfont.woff') format('woff'),
         url('font/edo-webfont.ttf') format('truetype'),
         url('font/edo-webfont.svg#edoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
.content {
    display: flex;
}
*/

/* right side content
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

/*
.top-text {
    position: absolute;
    top: 20%;
}
*/

/*
.form {
    position: absolute;
    top: 33%
}
*/

/*
.btm-text {
    position: absolute;
    bottom: 20%;
}
*/

.have-account a {
    color: red; /* change color when palette is selected */
    font-weight: bold;
    text-decoration: none;
}

/* left sidebar content with image and text */
.sidebar {
    display: flex;
    min-width: 500px;
}

/* responsive side image */
.side-img {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(images/background-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 500px;
    height: 100vh;
    inline-size: min-content;
}

/* logo beside text */
.logo {
    height: 6vh;
}

/* main text over image with blurred background */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.5);
    padding: 5px;
    backdrop-filter: blur(4px);
    position: relative;
    top: 15%;
    overflow: hidden;
    width: 100%;
}

/* main text */
h1 {
    color: white;
    font-family: 'edoregular';
    font-size: 4vw;
    padding: 5px;
  }

/* credit text and link styling */
.credits {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.credits a {
    color: white;
}
.credits a:visited {
    color: white;
}
.credits a:hover {
    color: red; /* change color when palette is selected */
}