/* formsStyle.css */

/* remove margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

/* fonts */
@font-face {
    font-family: 'edoregular';
    src: url('fonts/font1/edo-webfont.eot');
    src: url('fonts/font1/edo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/font1/edo-webfont.woff2') format('woff2'),
         url('fonts/font1/edo-webfont.woff') format('woff'),
         url('fonts/font1/edo-webfont.ttf') format('truetype'),
         url('fonts/font1/edo-webfont.svg#edoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meta_procond_regular';
    src: url('fonts/font2/ffmetaprocondrg-webfont.woff2') format('woff2'),
         url('fonts/font2/ffmetaprocondrg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* main content */
.content {
    display: flex;
    background: #f9fafb;
}

.main-content {
    width: 100%;
    margin-top: 10vh;
}

.top-text {
    position: fixed;
    left: 50px;
    margin-left: 28vw;
    top: 50px;
    max-width: 29vw;
    margin-bottom: 3vh;
    font-family: 'meta_procond_regular';
    font-size: 1vw;
}

/* form and styling */
.form-wrapper {
    background: #ffffff; /* change color when palette is selected */
    width: 100%;
    position: fixed;
    top: 20vh;
    padding: 20px 0;
    height: 40vh;
}

.form {
    position: relative;
    left: 50px;
    margin-left: 28vw;
    max-width: 29vw;
    font-family: 'meta_procond_regular';
    font-size: 1vw;
}

/* displaying form as columns */
ul#cols {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 36px;
    list-style: none;
    padding: 0;
}

ul#cols li {
    flex: 1 1 calc(50% - 5px);
    display: flex;
    flex-direction: column;
}

ul#cols input {
    width: 12vw;
    padding: 0 0 0 10px; 
    height: 3vh;
}

/* input styling */
input {
    border-style: solid;
    border-width: thin;
    border-color: #E5E7EB;
}

input:focus {
    border-style: solid;
    border-width: thin;
    border-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

input:invalid {
    border-style: solid;
    border-width: thin;
    border-color: red;
}

/* bottom text and button */
.lets-go {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.btm-text {
    padding-top: 2vh;
    position: relative;
    left: 50px;
    margin-left: 28vw;
    font-family: 'meta_procond_regular';
    font-size: 1vw;
}

label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    }

.button {
    padding: 12px 50px;
    border-radius: 8px;
    border: 0;
    background-color: #b99c71;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.have-account {
    padding-top: 4vh;
}

.have-account a {
    color: #b99c71;
    font-weight: bold;
    text-decoration: none;
}

/* responsive side image */
.side-img {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(images/kiwami.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 500px;
    height: 100vh;
    inline-size: min-content;
    z-index: 1;
}

/* logo beside text */
.logo {
    height: 6vh;
}

/* main text over image with blurred background */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.5);
    padding: 5px;
    backdrop-filter: blur(4px);
    position: relative;
    top: 20vh;
    overflow: hidden;
    width: 100%;
}

/* main text */
h1 {
    color: white;
    font-family: 'edoregular';
    font-size: 4vw;
    padding: 5px;
  }

/* credit text and link styling */
.credits {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.credits a {
    color: white;
}
.credits a:visited {
    color: white;
}
.credits a:hover {
    color: red; /* change color when palette is selected */
}